# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        33
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        110
        99
        114
        101
        116
        101
        63
        99
        111
        108
        111
        114
        61
        121
        101
        108
        108
        111
        119
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        68
        22
        73
        -50
        -49
        75
        46
        74
        45
        73
        -75
        79
        -50
        -49
        -55
        47
        -78
        -83
        76
        -51
        -55
        -55
        47
        103
        96
        104
        96
        105
        96
        24
        -123
        35
        25
        2
        0
        122
        -35
        -109
        99
        0
        0
     >
}


